libraries
models
plugins
sef_ext
classes
helpers
images
js
languages
views
/jcomments.ajax.php
/jcomments.captcha.php
/jcomments.class.php
/jcomments.legacy.php
/jcomments.php
/jcomments.rss.php
/jcomments.subscription.php
/jomsocial_rule.xml
/README.md
/router.php
/index.html
default
/tpl/index.html
